{% extends 'layout.html' %}
{% block main %}
  <div class="flex items-center justify-center h-full">
    <div class="max-w-[95%] m-auto p-32 bg-white rounded-md">
      <form action="/register" method="post" class="w-full">
        <div class="mb-3 w-full">
          <input type="text" name="name" autocomplete="off" placeholder="Name" id="name" class="py-1 px-2 border border-gray-300 rounded-md"/>
        </div>
        <div class="mb-3 w-full">
          <input type="text" name="username" autocomplete="off" placeholder="Username" id="username" class="py-1 px-2 border border-gray-300 rounded-md"/>
        </div>
        <div class="mb-3 w-full">
          <input type="text" name="email" autocomplete="off" placeholder="Email" id="email" class="py-1 px-2 border border-gray-300 rounded-md"/>
        </div>
        <div class="mb-3 w-full">
          <input type="password" name="password" autocomplete="off" placeholder="Password" id="password" class="py-1 px-2 border border-gray-300 rounded-md"/>
        </div>
        <div class="mb-3 w-full">
          <input type="password" name="confirmation" autocomplete="off" placeholder="Confirm password" id="confirmation" class="py-1 px-2 border border-gray-300 rounded-md"/>
        </div>
        <div class="mb-3 w-full">
          <input type="text" name="position" autocomplete="off" placeholder="Position" id="position" class="py-1 px-2 border border-gray-300 rounded-md"/>
        </div>
        <div class="rounded-md bg-pink-600 text-center">
          <button type="submit" class="py-2 px-4 text-white">Register</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
